* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    margin-top: 200px;
    color: rgba(255,255,255,60%);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 100pX;
}

video {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
}
.qw{
    border-radius: 10px;
    background: #c2e5ff73;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 90%;

}
.qw p {
    width: 600px;
    margin: 0 auto;
    font-size: 30px;
}
/* 设置图片为圆形并添加发光效果 */
.round-image {

    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 40px rgba(102, 255, 255, 0.8);
}
.qw h2 {
    font-size: 250%;
    margin-top: 50px;
    color: #0e4355;
    text-align: center;
}
.qw h3 {
    color: #0e4355;
    text-align: center;
    font-size: 150%;
}
.music-player {  /* 音乐播放器 */
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}